<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="play" level="INFO" />
    <logger name="akka" level="DEBUG" />
    <logger name="controllers" level="DEBUG" />
    <logger name="domain" level="DEBUG" />
    <logger name="dto" level="DEBUG" />
    <logger name="mappers" level="DEBUG"/>
    <logger name="modules" level="DEBUG"/>
    <logger name="repository" level="DEBUG" />
    <logger name="services" level="DEBUG" />
    <logger name="utils" level="DEBUG" />
    <logger name="play.api.cache.redis" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>
